header{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 3rem;
}

.container-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70% ;
    padding: 0;
}

.container-profile > a {
    border-radius: var(--radius-button);
    background-color: var(--color-grey-3);
    color: var(--color-grey-7);
    font-size: 0.7rem;
    width: 30%;
    max-width: 10rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.container-profile > a:hover{
    background-color: var(--color-grey-2);
    border: 0.05rem solid var(--color-brand-1);
}

.container-user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.avatar{
    width: 3.4rem;
    border-radius: 50%;
    border: 0.15rem solid var(--color-brand-2);
}

.container-user > h2{
    color: var(--color-grey-7);
    font-weight: 700;
    font-size: 0.9rem;
}

section{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

li{
    color: var(--color-grey-7);
    border: 0.12rem solid var(--color-grey-3);
    border-radius: var(--radius-card);
    padding: 1rem;
    margin: 0.6rem;
    height: 11rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li:hover{
    cursor: pointer;
    background-color: var(--color-grey-1);
    border: 0.12rem solid var(--color-grey-7);
}

li > h2 {
    font-size: 0.9rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

li > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: var(--color-grey-6);
}

li > a {
    color: var(--color-grey-7);
    border: 0.02rem solid var(--color-grey-7);
    border-radius: var(--radius-button);
    padding: 0.2rem;
    font-size: 0.7rem;
    align-self: flex-start;
}

li > a:hover{
    border: 0.05rem solid var(--color-brand-1);
    background-color: var(--color-brand-1);
}

@media (min-width: 830px){

    .container-profile{
        width: 80%;
        max-width: 70rem;
    }

    ul{
        width: 80%;
        max-width: 70rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 4rem;
    }

    li{
        width: 46%;
    }

}

@media (min-width: 1120px){

    .container-profile{
        width: 80%;
        max-width: 70rem;
    }

    ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li{
        width: 30%;
    }

}